In [6]:
import pandas
df= pandas.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1', low_memory= False)

In [7]:
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [8]:
#What is the total number and percentage of missing data in 2014 to 3 decimal places?

missingdata_2014 = df['Y2014'].isna()
missingsum = missingdata_2014.sum()
print(missingsum)
totalrows =len(df['Y2014'])
print(totalrows)
print((missingsum/totalrows)*100)
percentagemissing =(missingsum/totalrows)*100
print(round(percentagemissing,3))

1589
60943
2.6073544131401474
2.607

In [9]:
#What is the total number of unique countries in the dataset?
len(pandas.unique(df['Area']))

49

In [10]:
#Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?
selectedcolumns = df[['Y2017', 'Area']]
grouped= selectedcolumns.groupby('Area')
grouped= selectedcolumns.groupby('Area').sum()
sorted_groups = grouped.sort_values(by='Y2017')
seventh_lowest_area = sorted_groups.index[6]
print(seventh_lowest_area)

Guinea-Bissau

In [14]:
#Which year had the least correlation with ‘Element Code’? 
select_columns = df[['Element Code', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']]
GROUPED = select_columns.groupby('Element Code')
GROUPED = select_columns.groupby('Element Code').corr().unstack()
GROUPED

             Y2014                                             Y2015        \
             Y2014     Y2015     Y2016     Y2017     Y2018     Y2014 Y2015
Element Code
511            1.0  0.999988  0.999951  0.999885  0.999791  0.999988   1.0
645            1.0  0.997805  0.995394  0.994318  0.994120  0.997805   1.0
664            1.0  0.999567  0.999215  0.999161  0.999001  0.999567   1.0
674            1.0  0.999296  0.998808  0.998361  0.998196  0.999296   1.0
684            1.0  0.997403  0.997570  0.995896  0.994313  0.997403   1.0
5072           1.0  0.244774  0.517406  0.203159 -0.086111  0.244774   1.0
5123           1.0  0.996677  0.996537  0.994799  0.993798  0.996677   1.0
5131           1.0  0.986189  0.980418  0.988869  0.989009  0.986189   1.0
5142           1.0  0.998741  0.996982  0.996622  0.995642  0.998741   1.0
5154           1.0  0.595009  0.745180  0.991988  0.989464  0.595009   1.0
5170           1.0  0.998330  0.996759  0.995471  0.994453  0.998330   1.0
5171           1.0  0.996093  0.542556  0.526798  0.531700  0.996093   1.0
5301           1.0  0.995645  0.995738  0.996876  0.996241  0.995645   1.0
5511           1.0  0.988501  0.992766  0.991095  0.990593  0.988501   1.0
5521           1.0  0.997387  0.996087  0.993531  0.989194  0.997387   1.0
5527           1.0  0.967869  0.953239  0.958566  0.965571  0.967869   1.0
5611           1.0  0.987555  0.982078  0.987241  0.982153  0.987555   1.0
5911           1.0  0.976942  0.992694  0.941934  0.942024  0.976942   1.0

                                            ...     Y2017                      \
                 Y2016     Y2017     Y2018  ...     Y2014     Y2015     Y2016
Element Code                                ...
511           0.999987  0.999947  0.999878  ...  0.999885  0.999947  0.999986
645           0.997765  0.996077  0.995999  ...  0.994318  0.996077  0.996516
664           0.999649  0.999339  0.999355  ...  0.999161  0.999339  0.999171
674           0.999487  0.998707  0.998812  ...  0.998361  0.998707  0.998797
684           0.998453  0.997484  0.995792  ...  0.995896  0.997484  0.998414
5072          0.202471  0.243420  0.236146  ...  0.203159  0.243420  0.423964
5123          0.998263  0.996151  0.992327  ...  0.994799  0.996151  0.996583
5131          0.994994  0.994059  0.990324  ...  0.988869  0.994059  0.995520
5142          0.998609  0.997711  0.997652  ...  0.996622  0.997711  0.997936
5154          0.968200  0.519669  0.519317  ...  0.991988  0.519669  0.682259
5170          0.997089  0.996219  0.995444  ...  0.995471  0.996219  0.998224
5171          0.579367  0.564226  0.569233  ...  0.526798  0.564226  0.995895
5301          0.998593  0.992927  0.992424  ...  0.996876  0.992927  0.994745
5511          0.990771  0.970502  0.971099  ...  0.991095  0.970502  0.981556
5521          0.994906  0.993006  0.987127  ...  0.993531  0.993006  0.995336
5527          0.965576  0.991475  0.992763  ...  0.958566  0.991475  0.982305
5611          0.980132  0.986712  0.984493  ...  0.987241  0.986712  0.978215
5911          0.965195  0.863665  0.863140  ...  0.941934  0.863665  0.963790

                                 Y2018
             Y2017     Y2018     Y2014     Y2015     Y2016     Y2017 Y2018
Element Code
511            1.0  0.999986  0.999791  0.999878  0.999944  0.999986   1.0
645            1.0  0.996766  0.994120  0.995999  0.996700  0.996766   1.0
664            1.0  0.999578  0.999001  0.999355  0.999396  0.999578   1.0
674            1.0  0.999295  0.998196  0.998812  0.999095  0.999295   1.0
684            1.0  0.997761  0.994313  0.995792  0.996526  0.997761   1.0
5072           1.0  0.379772 -0.086111  0.236146  0.298982  0.379772   1.0
5123           1.0  0.995890  0.993798  0.992327  0.992679  0.995890   1.0
5131           1.0  0.996547  0.989009  0.990324  0.988134  0.996547   1.0
5142           1.0  0.997635  0.995642  0.997652  0.997878  0.997635   1.0
5154           1.0  0.997344  0.989464  0.519317  0.684047  0.997344   1.0
5170           1.0  0.997652  0.994453  0.995444  0.997707  0.997652   1.0
5171           1.0  0.997725  0.531700  0.569233  0.997913  0.997725   1.0
5301           1.0  0.997879  0.996241  0.992424  0.993913  0.997879   1.0
5511           1.0  0.996745  0.990593  0.971099  0.982158  0.996745   1.0
5521           1.0  0.993988  0.989194  0.987127  0.989487  0.993988   1.0
5527           1.0  0.995475  0.965571  0.992763  0.976061  0.995475   1.0
5611           1.0  0.990678  0.982153  0.984493  0.973641  0.990678   1.0
5911           1.0  0.999409  0.942024  0.863140  0.963378  0.999409   1.0

[18 rows x 25 columns]

In [21]:
least_correlated_year = GROUPED.min()
least_correlated_year

Y2014  Y2014    1.000000
       Y2015    0.244774
       Y2016    0.517406
       Y2017    0.203159
       Y2018   -0.086111
Y2015  Y2014    0.244774
       Y2015    1.000000
       Y2016    0.202471
       Y2017    0.243420
       Y2018    0.236146
Y2016  Y2014    0.517406
       Y2015    0.202471
       Y2016    1.000000
       Y2017    0.423964
       Y2018    0.298982
Y2017  Y2014    0.203159
       Y2015    0.243420
       Y2016    0.423964
       Y2017    1.000000
       Y2018    0.379772
Y2018  Y2014   -0.086111
       Y2015    0.236146
       Y2016    0.298982
       Y2017    0.379772
       Y2018    1.000000
dtype: float64

In [22]:
least_correlated_year_overall = least_correlated_year.idxmin()
least_correlated_year_overall

('Y2014', 'Y2018')

In [23]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

In [31]:
#What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?
mean_value = df['Y2017'].mean()
round(mean_value, 2)

140.92

In [32]:
standard_deviation = df['Y2017'].std()
round(standard_deviation,2)

1671.86

In [36]:
y = [(2, 4), (7, 8), (1, 5, 9)]
x = y[1][1]
x

8

In [44]:
#Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?
selectedcolumns = df[['Y2017', 'Area']]
grouped= selectedcolumns.groupby('Area')
grouped= selectedcolumns.groupby('Area').sum()
sorted_groups = grouped.sort_values(by='Y2017', ascending = False)
sorted_groups.index[0]

'Nigeria'

In [57]:
#Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?
elementgb = df[['Y2014','Y2015','Y2016','Y2017','Y2018','Element']]
elementgb

,Y2014,Y2015,Y2016,Y2017,Y2018,Element
0,38924.00,39728.00,40551.00,41389.00,42228.00,Total Population - Both sexes
1,0.00,0.00,0.00,0.00,0.00,Domestic supply quantity
2,3377.00,3379.00,3372.00,3341.00,3322.00,Food supply (kcal/capita/day)
3,94.90,94.35,94.72,92.82,91.83,Protein supply quantity (g/capita/day)
4,80.06,79.36,77.40,80.19,77.28,Fat supply quantity (g/capita/day)
...,...,...,...,...,...,...
60938,42.00,46.00,33.00,19.00,16.00,Food
60939,3.06,3.33,2.35,1.33,1.08,Food supply quantity (kg/capita/yr)
60940,3.00,4.00,3.00,1.00,1.00,Food supply (kcal/capita/day)
60941,0.10,0.11,0.08,0.04,0.04,Protein supply quantity (g/capita/day)
60942,0.04,0.05,0.03,0.02,0.01,Fat supply quantity (g/capita/day)